body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.profile-container {
    width: 80%; 
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 20px; 
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    position: relative; 
}

.profile-photo {
    border-radius: 50%;
    overflow: hidden;
    width: 400px; 
    height: 400px; 
    margin-top: 350px;

}

.profile-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    font-size: 40px;
    color: #333; 
    margin-top: 250px;
    padding-bottom: 75px;
    font-weight: 900;

}

.profile-stats {
    display: flex;
    text-align: center;
    font-size: 28px;
    padding-left: 30px;

}

.profile-stats p {
    margin: 0;
}

.profile-stats div {
    margin: 0 25px;
    margin-bottom: 0px;
}

.profile-bio {
    padding: 20px;
    background: #f9f9f9;
    font-size: 26px; 
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px;
    align-items: center;
}

.gallery img {
    width: 90%;
    display: block;
}
